version: "3.9"
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: sendjon
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Ko2004..
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build: .
    restart: always
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  db_data:
